@using DXApplication1.Module.BusinessObjects;
@using DevExpress.Data
@using Microsoft.AspNetCore.Components.Web
@using System.Collections
@using System.ComponentModel

@if (Data  is not null)
{ 

          <div class="row">
        @foreach (var item in Data)
        {     
                    <div class="col-auto" style="cursor: pointer;"    
                        @onclick=@(async () => await ItemClick.InvokeAsync(item))>    
                        <div class="text-center" style="width: 104px;">    
                            @item.FullName    
                        </div>    
                    </div>    
                }    
          </div>  
    }
    @code {
        [Parameter]
        public IEnumerable<Employee> Data  { get; set; }
        [Parameter]
        public EventCallback<Employee> ItemClick { get; set; }
    }
}