<div class="pagination">
    @foreach (var pageNumber in Enumerable.Range(0, TotalPages))
    {
        <button @onclick="() => SelectPage(pageNumber)" 
        class="btn @(CurrentPage == pageNumber ? "active" : "")">
            Page  @(pageNumber+1)
        </button>
    }

</div>
@code {

    [Parameter]
    public EventCallback<int[]> OnPageSelection { get; set; }
    [Parameter]
    public int AllRecordCounts { get; set; }
    private int RecordPerPage = 20;
    private int TotalPages => AllRecordCounts / RecordPerPage;
    public int CurrentPage { get; set; } = 0;
    private async  void SelectPage(int page){
        CurrentPage = page;
        await OnPageSelection.InvokeAsync([page, RecordPerPage]);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        SelectPage(CurrentPage);
    }
}
